In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.cluster import KMeans

In [8]:
dataset = pd.read_csv('cars.csv')

In [9]:
dataset.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [13]:
X=dataset.iloc[:,:-1].values

In [15]:
X=pd.DataFrame(X)
X=X.convert_objects(convert_numeric=True)

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [16]:
X.columns=['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60', 'year']

In [17]:
X.head()

    mpg   cylinders   cubicinches   hp   weightlbs   time-to-60  year
0  14.0           8         350.0  165      4209.0           12  1972
1  31.9           4          89.0   71      1925.0           14  1980
2  17.0           8         302.0  140      3449.0           11  1971
3  15.0           8         400.0  150      3761.0           10  1971
4  30.5           4          98.0   63      2051.0           17  1978

In [18]:
X.isnull().sum(axis=0)

mpg             0
 cylinders      0
 cubicinches    2
 hp             0
 weightlbs      3
 time-to-60     0
year            0
dtype: int64

In [ ]:
for i in X.columns:
    X[i]=.filna(XXXfsfsf)